//
// Tocbot
//
ls-toc-spacer = 1rem
js-toc-width  = 15rem

.js-toc
  display: none
  position: sticky
  float: right
  top: 0
  width: js-toc-width
  border-left: border-width border-color solid
  font-size: 1.4rem

.js-toc-content
  position: relative

@media media-md
  .js-toc
    display: block
  .js-toc-content
    margin-right: js-toc-width + ls-toc-spacer

.toc-list
  list-unstyled()
  margin-left: ls-toc-spacer
  .toc-list-item
    position: relative
    .toc-link
      display: inline-block
      padding: 0.15rem 0
      color: gray-color
    &.is-active-li
      > .toc-link
          color: primary-color
    > .toc-list
        margin-left: 0.5rem
        .toc-list-item
          list-style-type: '-'
          padding-left: 0.5rem
          &::marker
            color: gray-color
